<div class="dashboard">
  <app-sidebar></app-sidebar>

  <main class="content">
    <div class="page-header">
      <div>
        <h1>Setting</h1>
        <p class="breadcrumb">
          Dashboard > Setting
        </p>
      </div>
    </div>
    <div class="settings-card">
      <div class="setting-item">
        <div class="left">
          <img src="/images/lang.png" class="setting-icon">
          <span>
            Language
          </span>
        </div>
        <div class="right">
          English
        </div>
      </div>
      <div class="setting-item">
        <div class="left">
          <img src="/images/appea.png" class="setting-icon">
          <span>
            Appearance
          </span>
        </div>
        <div class="right">
          Light
        </div>
      </div>
      <div class="setting-item">

        <div class="left">

          <img src="/images/supp.png" class="setting-icon">

          <span>
            Support
          </span>

        </div>

        <div class="right">

          Need help?

        </div>

      </div>



      <div class="setting-item" routerLink="/resetPassword">

        <div class="left">

          <img src="/images/change.png" class="setting-icon">

          <span>
            Change Password
          </span>

        </div>

        <div class="right">

        </div>

      </div>



      <div class="setting-item">

        <div class="left">

          <img src="/images/about.png" class="setting-icon">

          <span>
            About
          </span>

        </div>

        <div class="right">

        </div>

      </div>

    </div>

  </main>

</div>
