<div class="dashboard">

  <aside class="sidebar">

    <div class="logo-section">
      <img alt="NTG Logo" src="/images/logo.png" class="logo" />
    </div>

    <div class="profile-section">

      <h2>Profile Photo</h2>

      <div class="avatar-box">
        <img
          src="/images/avatar.png"
          class="avatar"
          alt="Avatar"
        >
      </div>
      <button title="Change The Photo" class="change-photo">
        <img src="/images/camera.png" alt="Camera Image">
        Change Photo
      </button>
    </div>

  </aside>

  <main class="content">

    <div class="header">

      <div>
        <h1>Engineers</h1>

        <p class="breadcrumb">
          Dashboard > Engineers > Edit Engineer
        </p>
      </div>

      <button class="back-btn">
        <i class="fa fa-chevron-left"></i>
        Back
      </button>

    </div>

    <div class="edit-card">

      <!-- LEFT -->

      <div class="form-section">

        <h3>Personal Information</h3>

        <div class="form-group">
          <label>Full Name*</label>
          <input
          title="DDD"
          placeholder=""
            type="text"
            [(ngModel)]="engineer.firstName">
        </div>

        <div class="form-group">
          <label>Email*</label>

          <input
          title="DDD"
          placeholder=""
            type="email"
            [(ngModel)]="engineer.email">
        </div>

        <div class="form-group">
          <label>Phone*</label>

          <input
          title="DDD"
          placeholder=""
            type="text"
            [(ngModel)]="engineer.address">
        </div>

      </div>

      <!-- RIGHT -->

      <div class="form-section">

        <h3>Professional Information</h3>

        <div class="form-group">
          <label>Subject*</label>

          <input
          title="DDD"
          placeholder=""
            type="text"
            [(ngModel)]="engineer.education">
        </div>

        <div class="row">

          <div class="small-group">
            <label>Experience*</label>

            <input
            title="DDD"
          placeholder=""
              type="text"
              [(ngModel)]="engineer.employmentHistory">
          </div>

          <div class="small-group">
            <label>Join Date*</label>

            <input
            title="DDD"
          placeholder=""
              type="date"
              [(ngModel)]="engineer.numberOfYearsOfExperience">
          </div>

        </div>

        <button class="save-btn">
          Save Change
        </button>

      </div>

    </div>

  </main>

</div>