<button class="menu-btn" (click)="isSidebarOpen = !isSidebarOpen">
  <i>&#9776;</i>
</button>
<div class="dashbored">

  <div class="sidebar" [class.open]="isSidebarOpen">
    <div class="logo">
      <div class="header">
        <div class="header-white">
          <img src="\images\logo.png" alt="NTG">
        </div>
      </div>
    </div>

    <nav class="menu">
      <a *ngFor="let item of menuItems" [routerLink]="item.route" [class.active]="item.active" class="menu-item">
        <i [class]="item.icon"></i>
        <span>{{ item.label }}</span>
      </a>
      <a class="menu-item logout" (click)="logout()">
        <i class="fas fa-sign-out-alt"></i>
        <span>Log Out</span>
      </a>
    </nav>
  </div>
  <div class="page">
    <div class="page-header">
      <div>
        <h1>Create Program</h1>
        <p>Dashboard > Training Programs > Create Program</p>
      </div>
    </div>
    <div class="form-card">


      <form [formGroup]="trainingForm" (ngSubmit)="createProgram()">
        <div class="form-group">
          <div>
            <label>Program Name</label>
            <input type="text" formControlName="title" placeholder="Enter program name" />
          </div>
          <div>
            <label>Engineer</label>

            <select formControlName="engineerId">
              <option value="">Select Engineer</option>
              @for (engineer of engineers(); track engineer.id) {
              <option [value]="engineer.id">
                {{ engineer.firstName }} {{ engineer.lastName }}
              </option>
              }
            </select>
          </div>

        </div>

        <div class="form-group">
          <div>
            <label>Grade</label>
            <select formControlName="gradeId">
              <option value="">Select Grade</option>
              @for (grade of grades(); track grade.id) {
              <option [value]="grade.id">
                {{ grade.name }}
              </option>
              }
            </select>
          </div>
        </div>

        <div class="form-group">


          <div>
            <label>Location</label>
            <input type="text" formControlName="location" placeholder="Enter program location" />

          </div>
          <div>
            <label>Description</label>
            <textarea formControlName="description" placeholder="Enter program description"></textarea>
          </div>

        </div>

        <div class="form-group">
          <div>
            <label>Start Date</label>
            <input type="date" formControlName="startDate" />
          </div>
          <div>
            <label>End Date</label>
            <input type="date" formControlName="endDate" />
          </div>
        </div>


        <button type="submit">Create Program</button>
      </form>
    </div>
  </div>

</div>