<div class="page">
  <div class="form-card">
    <div class="header">
      <h2>Create Training Program</h2>
      <p>Create a new training program for engineers.</p>
    </div>

    <form [formGroup]="trainingForm" (ngSubmit)="createProgram()">
      <div class="form-group">
        <label>Program Title</label>
        <input type="text" formControlName="title" placeholder="Enter program title" />
      </div>
      <div class="form-group">
        <label>Location</label>
        <input type="text" formControlName="location" placeholder="Enter program Location" />
      </div>
      <div class="form-group">
        <label>Description</label>
        <textarea rows="4" formControlName="description" placeholder="Enter description">
        </textarea>
      </div>

      <div class="row">
        <div class="form-group half">
          <label>Engineer</label>

          <select formControlName="engineerId">
            <option value="">Select Engineer</option>
            @for (engineer of engineers(); track engineer.id) {
              <option [value]="engineer.id">
                {{ engineer.firstName }} {{ engineer.lastName }}
              </option>
            }
          </select>
        </div>

        <div class="form-group half"></div>
      </div>

      <div class="row">
        <div class="form-group half">
          <label>Start Date</label>
          <input type="date" formControlName="startDate" />
        </div>

        <div class="form-group half">
          <label>End Date</label>
          <input type="date" formControlName="endDate" />
        </div>
      </div>

      <div class="form-group">
        <label>Training Material (PDF)</label>
      </div>

      <button type="submit">Create Program</button>
    </form>
  </div>
</div>
