<div class="container">
  <div class="sidebar">
    <div class="logo">
      <img src="images.jpg" alt="" />
    </div>
    <div class="profile-image">
      <img src="images.png" alt="" />
      <span><i class="fa-solid fa-pen"></i></span>
    </div>
    <h2>Saif Emad</h2>
  </div>
  <main class="main">
    <header>
      <div class="header-right">
        <i class="fa-regular fa-bell"></i>
        <div class="user">
          <img src="images.png" />
          <div>
            <h4>Saif Emad</h4>
            <small>Administrator</small>
          </div>
        </div>
      </div>
    </header>
    <div class="title">
      <div>
        <h1>Profile</h1>
        <p>Dashboard > Profile</p>
      </div>
      <button class="back">
        <i class="fa-solid fa-angle-left"></i>
        Back
      </button>
    </div>
    <section class="card">
      <h2>Personal Information</h2>
      <form>
        <div class="form-group">
          <label>Full name*</label>
          <input type="text" value="" />
        </div>
        <div class="form-group">
          <label>Type*</label>
          <input type="text" value="" />
        </div>
        <div class="form-group">
          <label>Email*</label>
          <input type="email" value="" />
        </div>
        <div class="double">
          <div class="form-group">
            <label>Experience*</label>
            <input type="text" value="" />
          </div>
          <div class="form-group">
            <label>Join Date*</label>
            <input type="date" />
          </div>
        </div>
        <div class="form-group">
          <label>Phone*</label>
          <input type="text" value="" />
        </div>
        <div class="form-group">
          <label>Password*</label>
          <input type="password" value="" />
        </div>
      </form>
    </section>
  </main>
</div>
