<div class="dashbored">
  <app-sidebar></app-sidebar>

  <div class="engineers-page">
    <div class="page-header">
      <div>
        <h1>Training Programs</h1>
        <p>Dashboard > Training Programs > Training Program Details</p>
      </div>
    </div>

    <div class="page">
      <div class="header">
        <div class="title">
          <div class="icon">
            <img src="/images/code1.png" alt="Code Icon" width="50" height="45" />
          </div>

          <div>
            <h2>{{ training().programName }}</h2>

            <p class="description">{{ training().description }}</p>
          </div>
          <span class="status">
            {{ training().teacherFirstName }} {{ training().teacherLastName }}
          </span>
        </div>

        <div class="buttons">
          <button class="edit">Edit Program</button>

        </div>
      </div>

      <div class="cards">
        <div class="card">
          <h2 class="num">{{ training().gradeName }}</h2>

        </div>

        <div class="card">
          <h2 class="num">1</h2>

          <p>Assigned Engineers</p>
        </div>
      </div>

      <div class="tabs">
        <a class="active">Overview</a>
        <a [routerLink]="['/programs', training().id, 'students']">Students</a>
        <a [routerLink]="['/programs', training().id, 'engineers']">Engineers</a>
      </div>

      <div class="content">
        <div class="chart">
          <canvas id="studentsChart"></canvas>
        </div>
        <div class="info">
          <h3>Program Information</h3>

          <div class="row">
            <span>Program Name</span>
            <strong>{{ training().programName }}</strong>
          </div>
          <div class="row">
            <span>Duration</span>
            <strong>{{ training().description }}</strong>
          </div>
          <div class="row">
            <span>Teacher</span>
            <strong>{{ training().teacherFirstName }} {{ training().teacherLastName }}</strong>
          </div>

          <div class="row">
            <span>Start Date</span>
            <strong>{{ training().startDate }}</strong>
          </div>

          <div class="row">
            <span>End Date</span>
            <strong>{{ training().endDate }}</strong>
          </div>

          <div class="row">
            <span>Location</span>
            <strong>{{ training().location }}</strong>
          </div>

          <div class="row">
            <span>For Grade </span>
            <strong>{{ training().gradeName }}</strong>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>