<div class="dashbored">
  <app-sidebar></app-sidebar>

  <div class="engineers-page">
    <div class="page-header">
      <div>
        <h2>Training Programs</h2>
        <p>Training Programs > Training Program Details</p>
      </div>
    </div>

    <div class="page">

      <div class="header">
        <div class="title">
          <div class="icon">
            <img src="/images/code1.png" alt="Code Icon" width="50" height="45" />
          </div>

          <div>
            <h2>{{ training().programName }}</h2>
            <p class="description">{{ training().description }}</p>
            <span class="status">
              <i class="fa-solid fa-user" style="color: rgb(94, 92, 92);"></i>
              {{ training().teacherFirstName }} {{ training().teacherLastName }}
            </span>
            <span class="status1" style="margin-left:10px;">
              {{ training().gradeName }}
            </span>
            <span class="status2" style="margin-left:10px;">
              {{ training().description }}
            </span>
          </div>
        </div>

        <div class="buttons">
          <button class="edit" [routerLink]="['/edit-training-program', training().id]">
            <i class="fa-solid fa-pen-clip" style="color: rgb(131, 8, 8); margin-right: 5px;"></i>Edit Program
          </button>
          <button class="edit" [routerLink]="['/programs', training().id, 'evaluate-student']">
            <i class="fa-solid fa-star" style="color: rgb(131, 8, 8); margin-right: 8px;"></i>Evaluate Student
          </button>
        </div>
      </div>

      <div class="cards">
        <div class="card">
          <div class="card-icon1">
            <i class="fa-solid fa-graduation-cap" style="color: rgb(148, 12, 12); font-size: 22px;"></i>
          </div>
          <div class="card-content">
            <h2 class="num">{{ training().gradeName }}</h2>
            <p>Grade</p>
          </div>
        </div>

        <div class="card">
          <div class="card-icon2">
            <i class="fa-solid fa-users" style="color:#023e8a; font-size: 22px;"></i>
          </div>
          <div class="card-content">
            <h2 class="num">{{ studentsCount() }}</h2>
            <p>Students</p>
          </div>
        </div>

        <div class="card">
          <div class="card-icon3">
            <i class="fa-solid fa-user-cog" style="color:#006400; font-size: 22px;"></i>
          </div>
          <div class="card-content">
            <h2 class="num">{{ engineersCount() }}</h2>
            <p>Assigned Engineers</p>
          </div>
        </div>

        <div class="card">
          <div class="card-icon4">
            <i class="fa-solid fa-clock" style="color:#5a189a; font-size: 22px;"></i>
          </div>
          <div class="card-content">
            <h2 class="num">{{ programDuration() }}</h2>
            <p>{{ programDurationLabel() }}</p>
          </div>
        </div>
      </div>
      <div class="tabs">

        <a [routerLink]="['/programs',training().id]">
          Overview
        </a>

        <a class="active">
          Students
        </a>

        <a [routerLink]="['/programs',training().id,'engineers']">
          Engineers
        </a>

      </div>
      <div class="table-card">
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Student</th>
              <th>Grade</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>

          <tbody>
            @for (student of filteredStudents(); track student.id) {
            <tr>
              <td>{{ student.id }}</td>

              <td>
                {{ student.first_name }} {{ student.last_name }}
              </td>

              <td>{{ student.grade }}</td>

              <td>
                <span [class.active]="!student.status" [class.inactive]="student.status">
                  {{ student.status ? 'Inactive' : 'Active' }}
                </span>
              </td>
              <td>
                <button class="action-butt" [routerLink]="['/students', student.id, 'evaluations']"
                  [queryParams]="{ programId: training().id }">View
                  Evaluation</button>
              </td>
            </tr>
            } @empty {
            <tr>
              <td colspan="5" class="empty-state">
                <div class="empty-content">
                  <img src="/images/warning.png" alt="No Students" class="empty-image">
                  <h3>No Students Found</h3>
                  <p>There are no students in this training program to display.</p>
                </div>
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
