

<div class="dashbored">
<aside class="sidebar">
  <div class="logo-section">
    <img alt="NTG Logo" src="/images/logo.png" class="logo" />
  </div>
  <div class="logo-text">
    <img alt="icon" src="/images/dashboard.png" width="25" height="25" />
    <span class="sidebar-text"><a href="">Dashboard</a></span>
  </div>
  <div class="logo-text">
    <img alt="icon" src="/images/adminstrator.png" width="25" height="25" />
    <span class="sidebar-text"><a href="">Engineers</a></span>
  </div>
  <div class="logo-text">
    <img alt="icon" src="/images/reading.png" width="25" height="25" />
    <span class="sidebar-text"><a href="">Students</a></span>
  </div>
  <div class="logo-text">
    <img alt="icon" src="/images/reports.png" width="25" height="25" />
    <span class="sidebar-text"><a href="">Reports</a></span>
  </div>
  <div class="logo-engineer">
    <img alt="icon" src="/images/code.png" width="25" height="25" />
    <span class="sidebar-text"><a href="">Training Programs</a></span>
  </div>
  <div class="logo-text">
    <img alt="icon" src="/images/books.png" width="25" height="25" />
    <span class="sidebar-text"><a href="">Subjects</a></span>
  </div>
  <div class="logo-text">
    <img alt="icon" src="/images/Setting.png" width="25" height="25" />
    <span class="sidebar-text"><a href="">Settings</a></span>
  </div>
  <div class="logo-text">
    <img alt="icon" src="/images/user.png" width="25" height="25" />
    <span class="sidebar-text"><a href="">Profile</a></span>
  </div>
  <div class="logo-text">
    <img alt="icon" src="/images/logout.png" width="25" height="25" />
    <span class="sidebar-text"><a href="">Logout</a></span>
  </div>
</aside>


<div class="engineers-page">

  <div class="page-header">
    <div>
      <h1>Training Programs</h1>
      <p>Dashboard > Training Programs > Training Program Details</p>
    </div>
  </div>

  <div class="page" >

<div class="header">

    <div class="title">

        <div class="icon">
            <img src="/images/code1.png" alt="Code Icon" width="50" height="45" />
        </div>

        <div>

            <h2>{{training().programName}}</h2>

            <p>{{training().description}}</p>

        </div>


    </div>

    <div class="buttons">

        <button class="edit">
            Edit Program
        </button>

        <button class="assign">
            + Assign Student
        </button>

    </div>

</div>

  <div class="cards">

    <div class="card">

        <h2>{{training().totalStudents}}</h2>

        <p>Total Students</p>

    </div>

    <div class="card">

        <h2>1</h2>

        <p>Assigned Engineers</p>

    </div>


</div>

<div class="tabs">

    <a class="active">Overview</a>
    <a>Students</a>
    <a>Engineers</a>
    <a>Reports</a>
    <a>Assessments</a>

</div>

<div class="table-card">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Student</th>
          <th>Grade</th>
          <th>Attendance</th>
          <th>Status</th>
          <th>Actions</th>

        </tr>
      </thead>

      <tbody>

          <tr>
            <td class="Student-info">
              <span>{{ training().id }}</span>
            </td>

            <td></td>

            <td></td>

            <td></td>

            <td>
              <span [class.active]="" [class.inactive]="">

              </span>
            </td>
            
            <td class="actions">
              <a class="icon-btn" [routerLink]="['/engineers', 'update-engineer']">✏️</a>
              <a class="icon-btn" [routerLink]="['/engineers']">👁️</a>

            </td>
          </tr>
      </tbody>
    </table>
  </div>

</div>

