<div class="dashbored">
  <app-sidebar></app-sidebar>
  <div class="engineers-page">
    <div class="page-header">
      <div>
        <h1>Engineers</h1>
        <p>Dashboard > Engineers</p>
      </div>
    </div>

    <div class="toolbar">
      <div class="search-box">
        <input type="text" placeholder="Search by name,ID,subject..." [value]="searchTerm()"
          (input)="onSearchChange($any($event.target).value)" />
      </div>

      <div class="filters">

        <select title="Status filter" [value]="statusFilter()" (change)="onStatusChange($any($event.target).value)">
          <option value="active">Active</option>
          <option value="leave">Leave</option>
          <option value="all">All Engineers</option>
        </select>

        <button class="add-btn" routerLink="/addEngineer">
          <span>+</span>
          Add Engineer
        </button>
        <button class="add-btn" routerLink="/engineerReport">
          Create Engineer Feedback
        </button>
      </div>
    </div>

    <!-- Table -->
    <div class="table-card">
      <table>
        <thead>
          <th>ID</th>
          <th>Engineer</th>
          <th class="edu">Education</th>
          <th class="emal">Email</th>
          <th>Status</th>
          <th>Experience</th>
          <th>Actions</th>
        </thead>

        <tbody>
          @for (engineer of filteredEngineers(); track engineer.id) {
          <tr>
            <td>{{ engineer.id }}</td>
            <td class="engineer-info">
              <span>{{ engineer.firstName }} {{engineer.lastName}}</span>
            </td>
            <td>{{ engineer.education }}</td>
            <td>{{ engineer.email }}</td>

            <td>
              <span [class.active]="!engineer.status" [class.inactive]="engineer.status">
                {{ engineer.status ? 'Leave' : 'Active' }}
              </span>
            </td>
            <td>{{ engineer.experience }} Years</td>
            <td class="actions">
              <button [routerLink]="['/engineers', engineer.id, 'update-engineer']"><img src="/images/edit_icon.png"
                  alt=""></button>
              <button [routerLink]="['/engineers', engineer.id]"><img src="/images/view_icon.png" alt=""></button>
              @if (engineer.status) {
              <button (click)="restoreEngineer(engineer.id)"><img src="/images/restore_eng.png" alt=""></button>
              }@else {
              <button (click)="deleteEngineer(engineer.id)"><img src="/images/delete_icon.png" alt=""></button>
              }
            </td>
          </tr>
          } @empty {
          <h1>No Engineers found</h1>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>