<div class="dashbored">
  <aside class="sidebar">
  <div class="logo-section">
      <img alt="NTG Logo" src="/images/logo.png" class="logo" />
    </div>
    <div class="logo-text">
      <img alt="icon" src="/images/dashboard.png" width="25" height="25" />
      <span  class="sidebar-text"><a href="">Dashboard</a></span>
    </div>
    <div class="logo-engineer">
      <img alt="icon" src="/images/adminstrator.png" width="25" height="25" />
      <span class="sidebar-text"><a href="">Engineers</a></span>
    </div>
    <div class="logo-text1">
      <img alt="icon" src="/images/reading.png" width="25" height="25" />
      <span class="sidebar-text"><a href="">Students</a></span>
    </div>
    <div class="logo-text">
      <img alt="icon" src="/images/reports.png" width="25" height="25" />
      <span class="sidebar-text"><a href="">Reports</a></span>
    </div>
    <div class="logo-text">
      <img alt="icon" src="/images/code.png" width="25" height="25" />
      <span class="sidebar-text"><a href="">Training Programs</a></span>
    </div>
    <div class="logo-text">
      <img alt="icon" src="/images/books.png" width="25" height="25" />
      <span class="sidebar-text"><a href="">Subjects</a></span>
    </div>
    <div class="logo-text">
      <img alt="icon" src="/images/Setting.png" width="25" height="25" />
      <span class="sidebar-text"><a href="">Settings</a></span>
    </div>
    <div class="logo-text">
      <img alt="icon" src="/images/user.png" width="25" height="25" />
      <span class="sidebar-text"><a href="">Profile</a></span>
    </div>
    <div class="logo-text">
      <img alt="icon" src="/images/logout.png" width="25" height="25" />
      <span class="sidebar-text"><a href="">Logout</a></span>
    </div>
  </aside>



<div class="engineers-page">

  <!-- Header -->
  <div class="page-header">
    <div>
      <h1>Engineers</h1>
      <p>Dashboard > Engineers</p>
    </div>
  </div>

  <!-- Top Controls -->
  <div class="toolbar">

    <div class="search-box">
      <input
        type="text"
        placeholder="Search by name,ID,subject..."
      />
    </div>

    <div class="filters">

      <select>
        <option>All Subject.....</option>
        <option>Java</option>
        <option>Flutter</option>
      </select>

      <select>
        <option>Status</option>
        <option>Active</option>
        <option>Leave</option>
      </select>

      <button class="add-btn">
        <span>+</span>
        Add Engineer
      </button>

    </div>

  </div>

  <!-- Table -->
  <div class="table-card">

    <table>

      <thead>
        <tr>
          <th>Engineer</th>
          <th>ID</th>
          <th>Subject</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>

        <tr *ngFor="let Engineers of Engineers">

          <td class="engineer-info">

            <img [src]="Engineers.image" alt="">

            <span>{{ Engineers.name }}</span>

          </td>

          <td>{{ Engineers.id }}</td>

          <td>{{ Engineers.subject }}</td>

          <td>{{ Engineers.email }}</td>

          <td>{{ Engineers.phone }}</td>

          <td>

            <span
              class="status"
              [ngClass]="Engineers.status.toLowerCase()">

              {{ Engineers.status }}

            </span>

          </td>

          <td class="actions">

            <button>✏️</button>

            <button>👁️</button>

            <button>🗑️</button>

          </td>

        </tr>

      </tbody>

    </table>

  </div>

</div>


</div>
