<div class="dashbored">
  <aside class="sidebar">
    <div class="logo-section">
      <img src="/images/logo.png" class="logo" alt="NTG Logo" />
    </div>

    <nav class="menu">
      <a routerLink="/dashboard" class="menu-item">
        <img src="/images/dashboard.png" />
        <span>Dashboard</span>
      </a>

      <a routerLink="/" class="menu-item active1">
        <img src="/images/adminstrator.png" />
        <span>Engineers</span>
      </a>

      <a routerLink="/studentsList" class="menu-item">
        <img src="/images/reading.png" />
        <span>Students</span>
      </a>

      <a routerLink="/reports" class="menu-item">
        <img src="/images/reports.png" />
        <span>Reports</span>
      </a>

      <a routerLink="/trainingProgramsList" class="menu-item">
        <img src="/images/code.png" />
        <span>Training Program</span>
      </a>

      <a routerLink="/subjects" class="menu-item">
        <img src="/images/books.png" />
        <span>Subjects</span>
      </a>

      <a routerLink="/notfications" class="menu-item">
        <img src="/images/notification.png" />
        <span>Notification</span>
      </a>

      <a routerLink="/settings" class="menu-item">
        <img src="/images/Setting.png" />
        <span>Settings</span>
      </a>

      <a routerLink="/profile" class="menu-item">
        <img src="/images/user.png" />
        <span>Profile</span>
      </a>

      <a routerLink="/logout" class="menu-item">
        <img src="/images/logout.png" />
        <span>Log Out</span>
      </a>
    </nav>
  </aside>

  <div class="engineers-page">
    <!-- Header -->
    <div class="page-header">
      <div>
        <h1>Engineers</h1>
        <p>Dashboard > Engineers</p>
      </div>
    </div>

    <!-- Top Controls -->
    <div class="toolbar">
      <div class="search-box">
        <input type="text" placeholder="Search by name,ID,subject..." />
      </div>

      <div class="filters">
        <select title="DDD">
          <option>All Subject.....</option>
          <option>Java</option>
          <option>Flutter</option>
        </select>

        <select title="DDD">
          <option>Status</option>
          <option>Active</option>
          <option>Leave</option>
        </select>

        <button class="add-btn" routerLink="addEngineer">
          <span>+</span>
          Add Engineer
        </button>
      </div>
    </div>

    <!-- Table -->
    <div class="table-card">
      <table>
        <thead>
          <tr>
            <th>Engineer</th>
            <th>ID</th>
            <th>Education</th>
            <th>Email</th>
            <th>Status</th>
            <th>Experience</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          @for (engineer of engineers(); track engineer.id) {
            <tr>
              <td class="engineer-info">
                <span>{{ engineer.firstName }} {{ engineer.lastName }}</span>
              </td>

              <td>{{ engineer.id }}</td>

              <td>{{ engineer.education }}</td>

              <td>{{ engineer.email }}</td>

              <td>
                <span [class.active]="!engineer.status" [class.inactive]="engineer.status">
                  {{ engineer.status ? 'Leave' : 'Active' }}
                </span>
              </td>
              <td>{{ engineer.experience }} Years</td>
              <td class="actions">
                <button [routerLink]="['/engineers', engineer.id, 'update-engineer']">
                  <img src="/images/edit_icon.png" alt="" />
                </button>
                <button [routerLink]="['/engineers', engineer.id]">
                  <img src="/images/view_icon.png" alt="" />
                </button>
                <button (click)="deleteEngineer(engineer.id)">
                  <img src="/images/delete_icon.png" alt="" />
                </button>
              </td>
            </tr>
          } @empty {
            <h1>No Engineers</h1>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
