<div class="about-container">
<button class="back-btn" (click)="goBack()">
  Back
</button>
  <section class="hero-section">
    <h1>About Us</h1>

    <p>
      Welcome to the NTG Training Management System. This platform helps
      administrators manage engineers, students, training programs, reports,
      and notifications in one place.
    </p>
  </section>

  <section class="features-section">

    <div class="feature-card">
      <i class="fas fa-users-cog"></i>

      <h3>Engineer Management</h3>

      <p>
        Add, edit, and manage engineers and monitor their performance.
      </p>
    </div>

    <div class="feature-card">
      <i class="fas fa-user-graduate"></i>

      <h3>Student Management</h3>

      <p>
        Track students, attendance, grades, and progress.
      </p>
    </div>

    <div class="feature-card">
      <i class="fas fa-book"></i>

      <h3>Training Programs</h3>

      <p>
        Create training programs and assign engineers and grades.
      </p>
    </div>

    <div class="feature-card">
      <i class="fas fa-chart-line"></i>

      <h3>Reports</h3>

      <p>
        Generate reports and monitor educational performance.
      </p>
    </div>

  </section>

  <section class="mission-section">
    <h2>Our Mission</h2>

    <p>
      Our goal is to simplify educational management and provide an efficient
      system for training institutions.
    </p>
  </section>

</div>
