<div class="page-container">
  <!-- ================= Sidebar ================= -->

  <aside class="sidebar">
    <div class="logo-section">
      <img alt="NTG Logo" src="/images/logo.png" class="logo" />
    </div>
    <div class="profile">
      <div class="avatar-container">
        <img alt="Enginner Image" src="/images/avatar.png" class="avatar" />
        <span class="status"> </span>
      </div>
      <h2>{{ engineer().firstName }}</h2>
      <p class="job">
        {{ engineer().education }}
      </p>
    </div>

    <div class="divider"></div>

    <div class="info">
      <div class="info-item">
        <i class="fa fa-envelope"></i>
        <div class="info-text">
          <strong>Email</strong>
          <span>{{ engineer().email }}</span>
        </div>
      </div>
    </div>

    <button class="message-btn">
      <i class="fa fa-paper-plane"></i>
      Send Message
    </button>
  </aside>

  <!-- ================= Main ================= -->

  <main class="main-content">
    <!-- Header -->

    <header class="top-header">
      <div class="search">
        <i class="fa-solid fa-magnifying-glass"></i>

        <input type="text" placeholder="Search anything..." />
      </div>

      <div class="admin-section">
        <div class="notification">
          <i class="fa-regular fa-bell"></i>

          <span>1</span>
        </div>

        <img src="images/admin.jpg" class="admin-img" />

        <div>
          <h4>Saif Emad</h4>

          <small> Administrator </small>
        </div>
      </div>
    </header>

    <!-- Title -->

    <section class="title-row">
      <div>
        <h1>Engineers</h1>

        <p>Dashboard / Engineers / Engineer Details</p>
      </div>

      <button class="back-btn">
        <i class="fa-solid fa-chevron-left"></i>

        Back
      </button>
    </section>

    <!-- Cards -->

    <section class="cards">
      <div class="card students">
        <div class="icon">
          <i class="fa-solid fa-users"></i>
        </div>

        <div>
          <h5>Students</h5>

          <h2>35</h2>

          <span> Assigned </span>
        </div>
      </div>

      <div class="card reports">
        <div class="icon">
          <i class="fa-solid fa-file-lines"></i>
        </div>

        <div>
          <h5>Reports</h5>

          <h2>18</h2>

          <span> Submitted </span>
        </div>
      </div>

      <div class="card rating">
        <div class="icon">
          <i class="fa-solid fa-star"></i>
        </div>

        <div>
          <h5>Rating</h5>

          <h2>36</h2>

          <span> Total Reviews </span>
        </div>
      </div>
    </section>

    <!-- Tabs -->

    <section class="table-card">
      <div class="tabs">
        <i routerLink="/"><span> Overview </span></i>

        <i routerLink="/engineerDetailsPersonalInfo"><span> Personal Info </span></i>
        <i routerLink="/engineerDocumnets">
          <span class="active"> Documents </span >
        </i>
        <i><span> Reports </span></i>
      </div>

      <!-- Documents Table -->

      <table>
        <thead>
          <tr>
            <th>Type</th>

            <th>Category</th>

            <th>Uploaded Date</th>

            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>
              <i class="fa-solid fa-file-pdf pdf"></i>

              PDF
            </td>

            <td>
              <span class="badge spring"> Spring Certificate </span>
            </td>

            <td>
              <i class="fa-regular fa-calendar"></i>

              May 10, 2024
            </td>

            <td>
              <button class="download">
                <i class="fa-solid fa-download"></i>
              </button>

              <button class="delete">
                <i class="fa-solid fa-trash"></i>
              </button>
            </td>
          </tr>

          <tr>
            <td>
              <i class="fa-solid fa-file-pdf pdf"></i>
              PDF
            </td>

            <td>
              <span class="badge java"> Java Project </span>
            </td>

            <td>
              <i class="fa-regular fa-calendar"></i>
              Apr 20, 2024
            </td>

            <td>
              <button class="download">
                <i class="fa-solid fa-download"></i>
              </button>

              <button class="delete">
                <i class="fa-solid fa-trash"></i>
              </button>
            </td>
          </tr>

          <tr>
            <td>
              <i class="fa-solid fa-file-pdf pdf"></i>
              PDF
            </td>

            <td>
              <span class="badge review"> Java Review </span>
            </td>

            <td>
              <i class="fa-regular fa-calendar"></i>
              Apr 1, 2024
            </td>

            <td>
              <button class="download">
                <i class="fa-solid fa-download"></i>
              </button>

              <button class="delete">
                <i class="fa-solid fa-trash"></i>
              </button>
            </td>
          </tr>

          <tr>
            <td>
              <i class="fa-solid fa-file-pdf pdf"></i>
              PDF
            </td>

            <td>
              <span class="badge personal"> Personal Document </span>
            </td>

            <td>
              <i class="fa-regular fa-calendar"></i>
              Jan 5, 2024
            </td>

            <td>
              <button class="download">
                <i class="fa-solid fa-download"></i>
              </button>

              <button class="delete">
                <i class="fa-solid fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- Pagination -->

      <div class="pagination">
        <button>
          <i class="fa-solid fa-chevron-left"></i>
        </button>

        <button class="active">1</button>

        <button>2</button>

        <button>3</button>

        <button>
          <i class="fa-solid fa-chevron-right"></i>
        </button>
      </div>
    </section>
  </main>
</div>
