<div class="notification-page">
  <app-sidebar></app-sidebar>

  <div class="content">
    <div class="page-header">
      <div>
        <h2>Notification</h2>
        <p>Dashboard > Notification</p>
      </div>
      <!-- <a class="add-btn" routerLink="/sendNotification">
        <span>+</span>
        Send Notification
      </a> -->
    </div>

    <div class="notification-card">
      @for (item of paginatedNotifications(); track item.id) {
      <div class="notification-item">
        <div class="icon-container">
          <span class="material-icons">{{ getIcon(item.type) }}</span>
        </div>

        <div class="notification-content">
          <h4>{{ item.title }}</h4>
          <p>{{ item.body }}</p>
        </div>

        <div class="notification-time">
          <span>{{ item.sentAt }}</span>
          <button class="delete-btn" (click)="deleteNotification(item.id)">
            <i class="fas fa-trash"></i>
          </button>
        </div>
      </div>
      } @empty {
         <div class="empty-content">
       <img src="/images/warning.png" alt="No Engineers" class="empty-image">
      <p class="empty">No Notifications</p>
         </div>
      }
    </div>

    <div class="pagination">
      <button (click)="prevPage()">
        <span class="material-icons"> ← </span>
      </button>

      @for (page of pages(); track page) {
      <button [class.active]="page === currentPage()" (click)="goToPage(page)">{{ page }}</button>
      }

      <button (click)="nextPage()">
        <span class="material-icons"> → </span>
      </button>
    </div>
  </div>
</div>