<div class="dashbored">

  <app-sidebar></app-sidebar>

  <div class="engineers-page">

    <div class="page-header">
      <div>
        <h1>Training Programs</h1>
        <p>Dashboard > Training Programs > Training Program Details</p>
      </div>
    </div>

    <div class="page">

      <div class="header">

        <div class="title">

          <div class="icon">
            <img src="/images/code1.png" alt="Code Icon" width="50" height="45" />
          </div>

          <div>
            <h2>{{ training().programName }}</h2>

            <p class="description">
              {{ training().description }}
            </p>

            <span class="status">
              {{ training().teacherFirstName }}
              {{ training().teacherLastName }}
            </span>
          </div>


        </div>

        <div class="buttons">

          <button class="edit" [routerLink]="['/edit-training-program', training().id]">
            Edit Program
          </button>

        </div>

      </div>

      <div class="cards">

        <div class="card">

          <h2 class="num">{{training().totalStudents}}</h2>

          <p>Total Students</p>

        </div>

        <div class="card">

          <h2 class="num">1</h2>

          <p>Assigned Engineers</p>

        </div>


      </div>

      <div class="tabs">

        <a [routerLink]="['/programs', training().id]">
          Overview
        </a>

        <a [routerLink]="['/programs', training().id, 'students']">
          Students
        </a>

        <a class="active">
          Engineers
        </a>

      </div>

      <div class="table-card">

        <table>

          <thead>

            <tr>

              <th>ID</th>

              <th>Engineer</th>

              <th>Experience</th>

              <th>Rating</th>

              <th>Actions</th>

            </tr>

          </thead>

          <tbody>

            <tr>

              <td>{{ engineer().id }}</td>

              <td>{{ engineer().firstName }} {{ engineer().lastName }}</td>

              <td>{{ engineer().numberOfYearsOfExperience }}</td>

              <td>{{ cards().rating }}</td>

              <td>

                <button class="action-butt" [routerLink]= "['/engineers', engineer().id]">

                  View Engineer

                </button>

              </td>

            </tr>

          </tbody>

        </table>

      </div>

    </div>