<div class="dashbored">
  <aside class="sidebar">
    <div class="logo-section">
      <img src="/images/logo.png" class="logo" alt="NTG Logo" />
    </div>

    <nav class="menu">
      <a routerLink="/dashboard" class="menu-item">
        <img src="/images/dashboard.png" />
        <span>Dashboard</span>
      </a>

      <a routerLink="/" class="menu-item">
        <img src="/images/adminstrator.png" />
        <span>Engineers</span>
      </a>

      <a routerLink="/studentsList" class="menu-item active1">
        <img src="/images/reading.png" />
        <span>Students</span>
      </a>

      <a routerLink="/reports" class="menu-item">
        <img src="/images/reports.png" />
        <span>Reports</span>
      </a>

      <a routerLink="/trainingProgramsList" class="menu-item">
        <img src="/images/code.png" />
        <span>Training Program</span>
      </a>

      <a routerLink="/subjects" class="menu-item">
        <img src="/images/books.png" />
        <span>Subjects</span>
      </a>

      <a routerLink="/notifications" class="menu-item">
        <img src="/images/notification.png" />
        <span>Notification</span>
      </a>

      <a routerLink="/settings" class="menu-item">
        <img src="/images/Setting.png" />
        <span>Settings</span>
      </a>

      <a routerLink="/profile" class="menu-item">
        <img src="/images/user.png" />
        <span>Profile</span>
      </a>

      <a routerLink="/logout" class="menu-item">
        <img src="/images/logout.png" />
        <span>Log Out</span>
      </a>
    </nav>
  </aside>

  <div class="engineers-page">
    <!-- Header -->
    <div class="page-header">
      <div>
        <h1>Students</h1>
        <p>Dashboard > Students</p>
      </div>
    </div>

    <!-- Top Controls -->
    <div class="toolbar">
      <div class="search-box">
        <input type="text" placeholder="Search by name,ID,subject..." />
      </div>

      <div class="filters">
        <select title="DDD">
          <option>Status</option>
          <option>Active</option>
          <option>Leave</option>
        </select>
      </div>
    </div>

    <!-- Table -->
    <div class="table-card">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Student</th>
            <th>Grade</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          @for (student of students(); track student.id) {
            <tr>
              <td class="Student-info">
                <span>{{ student.id }}</span>
              </td>

              <td>{{ student.first_name }} {{ student.last_name }}</td>

              <td>{{ student.grade }}</td>

              <td>
                <span [class.active]="!student.status" [class.inactive]="student.status">
                  {{ student.status ? 'Inactive' : 'Active' }}
                </span>
              </td>
              <td class="actions">
                <button><img src="/images/view_icon.png" alt="" /></button>
              </td>
            </tr>
          } @empty {
            <h1>No Students</h1>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
