<button class="menu-btn" (click)="isSidebarOpen = !isSidebarOpen">
    <i class="fa-solid fa-bars"></i>
</button>
<div class="dashbored">
  <div class="sidebar" [class.open]="isSidebarOpen">
    <div class="logo">
      <div class="header-white">
        <img src="/images/logo.png" alt="NTG">
      </div>
    </div>
    <nav class="menu">
      <a *ngFor="let item of menuItems" [routerLink]="item.route" [class.active]="item.active" class="menu-item">
        <i [class]="item.icon"></i>
        <span>{{ item.label }}</span>
      </a>
      <a class="menu-item logout" (click)="logout()">
        <i class="fas fa-sign-out-alt"></i>
        <span>Log Out</span>
      </a>
    </nav>
  </div>

  <div class="engineers-page">
    <div class="page-header">
      <div>
        <h1>Students</h1>
        <p>Dashboard > Students</p>
      </div>
    </div>

    <div class="toolbar">
      <div class="search-box">

        <input placeholder="Search by Student ID..." [value]="searchTerm()"
          (input)="searchTerm.set($any($event.target).value)" />

      </div>

      <div class="filters">
        <select [value]="statusFilter()" (change)="statusFilter.set($any($event.target).value)">
          <option value="active">Active</option>
          <option value="all">All Students</option>
          <option value="inactive">Inactive</option>
        </select>
      </div>
    </div>

    <div class="table-card">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Student</th>
            <th>Grade</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          @for (student of filteredStudents(); track student.id) {
          <tr>
            <td class="Student-info">
              <span>{{ student.id }}</span>
            </td>

            <td>{{ student.first_name }} {{ student.last_name }}</td>

            <td>{{ student.grade }}</td>

            <td>
              <span [class.active]="!student.status" [class.inactive]="student.status">
                {{ student.status ? 'Inactive' : 'Active' }}
              </span>
            </td>
            <td class="actions">
              <button><img src="/images/view_icon.png" alt="" /></button>
            </td>
          </tr>
          } @empty {
          <h1>No Students</h1>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
